@media screen and (max-width: 600px) {
    section#telefone {
        width: 90vw;
        height: auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    iframe#tela {
        position: relative;
        top: 15vw; 
        left: 7vw;
        width: 76vw;
        height: calc(76vw * 1.77);
    }

    section#redes-sociais {
        text-align: center;
    }

    section#redes-sociais img {
        height: 40px;
        width: 40px;
        margin: 5px;
    }
}
